body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.todo-container {
    display: flexbox;
    width: 300px;
    margin: 300;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    justify-content: center;
    align-items: center;
}

#todo-list {
    list-style: none;
    padding: 0;
}

#todo-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #449d44;
}
